.profile__edit-button {
  all: unset;
  background-image: url(../../../images/Edit\ Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 18px;
  width: 18px;
  margin-left: 10px;
  align-self: flex-end;
  transition: opacity 0.2s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 19px;
  }
}
