.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 48px;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .places {
    padding-top: 50px;
    padding-bottom: 67px;
  }
}


@media screen and (min-width: 855px) {
  .places {
    width: 68.75%;
    margin: 0 auto;
    display: grid;
    gap: 20px 17px;
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}

@media screen and (min-width: 1250px) {
  .places {
    grid-template-columns: repeat(3, 282px);
  }
}

@media screen and (min-width: 1280px) {
  .places {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    width: 100%;
  }
}
