.popup__container_delete {
  min-height: min-content;
  padding: 25px;
  box-sizing: unset;
}

@media screen and (min-width: 1280px) {
  .popup__container_delete {
    max-width: 430px;
    padding: 36px;
  }
}
