.profile__add-button {
  width: 282px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  background-position: center;
  margin: 0 auto 36px;
  background-image: url(../../../images/Add\ Button.svg);
  background-repeat: no-repeat;
  margin: 36px 0 0 0;
  box-sizing: border-box;
  transition: opacity 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .profile__add-button {
    width: 150px;
    margin: 0;
  }
}


