.profile__add-button {
  width: 282px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  background-position: center;
  margin: 36px auto;
  background-image: url(../../../images/Add\ Button.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  box-sizing: border-box;
  transition: opacity 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .profile__add-button {
    width: 150px;
    background-size: 22px 22px;
    margin: 0;
  }
}


