.profile__content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .profile__content {
    width: 79.5%;
    flex-direction: row;
    column-gap: 30px;
  }
}


