.profile__avatar-container {
  position: relative;
  z-index: 1;

  height: 120px;
  width: 120px;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .profile__avatar-container {
    margin: 0;
  }
}
