.popup__save-button {
  all: unset;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #000000;
  width: 238px;
  min-height: 46px;
  border-radius: 2px;
  text-align: center;
  margin-top: 45px;
  transition: opacity 0.2s;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .popup__save-button {
    width: 358px;
    min-height: 50px;
    font-size: 18px;
    margin-top: 48px;
  }
}
